* {
	box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1em;
}

header {
    position: fixed;
    top: 10vh;
    left: 4vw;
    z-index: 10000;
    transition: all 1s ease-in-out;
}

header h1 {
    font-size: 7vh;
    font-weight: 700;
    line-height: 9vh;
    color: rgb(255, 255, 255);
    transition: all 1s ease-in-out;
}

header h2{
    font-size: 4vh;
    font-weight: 700;
    line-height: 7vh;
    color: rgb(177, 100, 100);
    background-color: rgb(255, 255, 255);
    transition: all 500ms ease-in-out;
    margin-top: 1vh;
    padding-left: 30px;
    width: 35vh;
    opacity: 1;
    cursor: pointer;
}

header h2:hover {
    width: 41vh;
    color: rgb(230, 94, 94);
    background-color: rgb(0, 0, 0);
}

#container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
}

main > div {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    border-radius: 0px;
    position: fixed;
    overflow: auto;
}

#svg-container {
    z-index: 100;
}

main > div .imgs {
    height: 130vh;
    top: -30vh;
    visibility: visible;
    position: absolute;
    transition: all 750ms ease-in-out;
}

#mu-top {
    z-index: 90;
    opacity: 1;
}

#mu-top-2 {
    z-index: 50;
    opacity: 1;
}

#mu-trace {
    z-index: 95;
}

.st1 {
    cursor: pointer;
}


footer {
    position: fixed;
    bottom: 3vh;
    left: 3vw;
    right: 33vw;
    border-radius: 25px;
    background-color: #eeeeef;
    height: 4vh;
    width: 64vw;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    transition: all 500ms ease-in-out;
}


#bkg {
    position: fixed;
    width: 30vw;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: -999;
    visibility: visible;
    transition: all 2s ease-in-out;
}
.cls-0{background-color:#eeeeef;}
.cls-1{background-color:#d75771;}
.cls-2{background-color:#db715c;}
.cls-3{background-color:#e3b755;}
.cls-4{background-color:#419e5a;}
.cls-5{background-color:#51719b;}
.cls-6{background-color:#85679e;}

#bkg div {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 70vh;
    transition: all 2s ease-out;
}

#bkg div h2 {
    font-size: 6vh;
    color: rgb(177, 100, 100);
}

#bkg div h3 {
    margin-top: 4vh;
    font-size: 2vh;
    color: rgb(177, 100, 100);
    line-height: 8vh;
}

footer a {
    position: relative;
    height: 3vh;
    width: 15vw;
    align-self: center;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5vh;
    color: dimgray;
    border-radius: 25px;
    transition: all 500ms ease-in-out;
    background-color: white;
    display: inline-flex;
    justify-content: center;
}

footer a span {
    align-self: center;
}

footer a:hover {
    background-color: dimgray;
    color: #eeeeef;
}



/* After Preloader */



.mu-after-load .st0, .mu-after-load .st1{
    fill: rgba(255, 255, 255, 0);
    stroke:white;
    stroke-width:3;
    stroke-miterlimit:10;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.main-container-layout-before-scrolling .mu-after-load .imgs {
    height: 110vh;
    top: -10vh;
    left: 0;
}

.main-container-layout-before-scrolling .mu-after-load {
    animation: moveleft 1s forwards ease-in-out;
}

@keyframes moveleft {
    0% {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
    100% {
        width: 64vw;
        height: 80vh;
        top: 10vh;
        left: 3vw;
        border-radius: 25px;
        overflow: hidden;
    }
}



.footer-after-load {
    visibility: visible;
    bottom: 3vh;
    left: 3vw;
    right: 3vw;
    width: 94vw;
    background-color: #eeeeefbe;
}

.main-container-layout-after-scrolling .mu-after-load {
    width: 64vw;
    height: 80vh;
    top: 10vh;
    bottom: 10vh;
    left: 3vw;
    border-radius: 25px;
    overflow: hidden;
    transition: all 2s ease-in-out;
}

.main-container-layout-after-scrolling #mu-container .imgs {
    height: 1800px;
    top: 0vh;
    left: -10vw;
}

.main-container-layout-after-scrolling article {
    visibility: visible;
}

.main-container-layout-after-scrolling #mu-container .caption-1 {
    top: -500px;
    left: -400px;
}

.main-container-layout-after-scrolling #mu-container .caption-2 {
    top: -150px;
    left: -300px;
} 

.main-container-layout-after-scrolling #mu-container .caption-3 {
    top: -150px;
    left: -1100px;
}

.main-container-layout-after-scrolling #mu-container .caption-4 {
    top: -850px;
    left: -400px;
}

.main-container-layout-after-scrolling #mu-container .caption-5 {
    top: -800px;
    left: -1000px;
}

.main-container-layout-after-scrolling #mu-container .caption-6 {
    top: -950px;
    left: -300px;
}

.main-container-layout-after-scrolling #mu-container .fade-in {
    animation-name: fade-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }100% {
        opacity: 1;
    }
}


.main-container-layout-after-scrolling #mu-container .fade-out {
    animation-name: fade-out;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }100% {
        opacity: 0;
    }
}




/* Overlay sections */

article {
    position: absolute;
    overflow: hidden;
    width: 30vw;
    top: 0;
    right: 0;
    padding: 100vh 0 15vh 0;
    visibility: hidden;
}

article section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 25vw;
    margin: 40px auto;
    border-radius: 25px;
    background-color: white;
    right: 0;
    opacity: 0.4;
    transition: all 500ms ease-in-out;
    padding: 60px 0;
    box-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.on-focus {
    opacity: 1;
}

.out-focus {
    opacity: 0.4;
}

.slide {
    animation: 300ms forwards ease-in-out;
}

.out-up, .out-down, .in-up, .in-down {
    animation-timing-function: ease-in-out;
}

.out-up {
    animation-name: out-up ;
}

.in-up {
    animation-name: in-up;
}

.out-down {
    animation-name: out-down;
}

.in-down {
    animation-name: in-down;
}


@keyframes out-up {
    0% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes in-up {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}

@keyframes out-down {
    0% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes in-down {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}



figure {
    position: relative;
    height: 150px;
    width: 125px;
    text-align: center;
    margin: 10px 20px;
}

figure img {
    /* position: absolute; */
    height: 150px;
    margin: 0 auto;
    top: 0;
    left: 0;
}

figure figcaption {
    position: absolute;
    font-size: 50px;
    left: 45px;
    top: 70px;
    text-align: center;
    font-weight: 700;
} 

figure #caption-tripper {
    font-size: 18px;
    left: 27px;
    top: 70px;
}

article section p {
    margin: 0 15%;
    line-height: 1.5em;
    margin-top: 10px;
}


.main-container-layout-after-scrolling .mu-after-load .hotspot-1 {
    stroke: #d75771b9;
    fill: #d75771b9;;
}

.main-container-layout-after-scrolling .mu-after-load .hotspot-2 {
    stroke: #db715cb9;
    fill: #db715cb9;;
}

.main-container-layout-after-scrolling .mu-after-load .hotspot-3 {
    stroke: #e3b755b9;
    fill: #e3b655b9;;
}

.main-container-layout-after-scrolling .mu-after-load .hotspot-4 {
    stroke: #419e5ab9;
    fill: #419e5ab9;;
}

.main-container-layout-after-scrolling .mu-after-load .hotspot-5 {
    stroke: #51719bb9;
    fill: #51719bb9;;
}

.main-container-layout-after-scrolling .mu-after-load .hotspot-6 {
    stroke: #85679eb9;
    fill: #85679eb9;;
}





/* Pre loader */

.mu-on-start {
    display: block;
    position: fixed;
    transition: all 2s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
}

.mu-on-start img {
    visibility: hidden;

}

.mu-on-start .imgs {
    top: -20vh;
}

.mu-on-start .st0, .mu-on-start .st1 {
    fill: rgba(255, 255, 255, 0);
    stroke-width:3;
    stroke-miterlimit:10;
    opacity: 0;
    transition: all 1s ease-in-out;
    stroke-linecap: round;
}

.mu-on-start #t-island-top, .mu-on-start #t-island-middle { 
    stroke-dasharray: 200; 
    stroke-dashoffset: 2500; 
    stroke: rgb(160, 160, 160);
    animation: island-trace-in 10s ease-in-out forwards infinite; 
    opacity: 0;
}

@keyframes island-trace-in {
    5% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        fill: rgba(160, 160, 160, 0);
    }
    90% {
        stroke-dasharray: 2500; 
        stroke-dashoffset: 0;
        fill: rgb(160, 160, 160);
    }
}

.mu-on-start #t-island-top {animation-delay: 1s;}
.mu-on-start #t-island-middle {animation-delay: 2s;}

.mu-on-start .st1 { 
    opacity: 1;
    fill: rgba(226, 226, 226, 0); 
    stroke-width: 0;
    animation: buses-trace-in 5s ease-in-out infinite; 
}

@keyframes buses-trace-in {
    70% {
        fill: rgb(240, 240, 240);
    }
    100% {
        fill: rgba(238, 238, 238, 0); 
    }
}

.mu-on-start #bus-b {animation-delay: 0.3s;}
.mu-on-start #bus-g {animation-delay: 1.7s;}
.mu-on-start #bus-e {animation-delay: 1.5s;}
.mu-on-start #bus-g {animation-delay: 0.2s;}
.mu-on-start #bus-p {animation-delay: 1.2s;}
.mu-on-start #bus-q {animation-delay: 0.2s;}
.mu-on-start #bus-k {animation-delay: 1s;}
.mu-on-start #bus-trip-1 {animation-delay: 1s;}
.mu-on-start #bus-trip-2 {animation-delay: 1.3s;}
.mu-on-start #bus-trip-3 {animation-delay: 0.5s;}


.footer-loading {
    visibility: hidden;
}
