* {
    box-sizing: border-box;
}

body {
    color: rgb(235, 235, 235);
    transition: all 2s;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35vw 55vw 10vw;
    overflow-x: scroll;
}

/******************************* The Side *******************************/

#side {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    position: sticky;
    top: 0;
    left: 0;
    height: 768px;
    background-color: rgb(216, 115, 115);
    animation-name: changing-background-light;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: rgb(88, 48, 48);
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.349);
}

@keyframes changing-text-dark {
    0%   {color: rgb(88, 48, 48);}
    12.5%  {color: rgb(124, 111, 55);}
    25%  {color: rgb(55, 87, 45);}
    37.5% {color: rgb(76, 122, 101);}
    50% {color: rgb(68, 77, 109);}
    62.5% {color: rgb(68, 68, 107);}
    75% {color: rgb(103, 62, 117);}
    87.5% {color: rgb(136, 76, 125);}
    100%   {color: rgb(88, 48, 48);}
}

@keyframes changing-background-light {
    0%   {background-color: rgb(216, 115, 115);color: rgb(88, 48, 48);}
    12.5%  {background-color: rgb(224, 224, 136);color: rgb(124, 111, 55);}
    25%  {background-color: rgb(148, 221, 126);color: rgb(55, 87, 45);}
    37.5% {background-color: rgb(160, 214, 189);color: rgb(76, 122, 101);}
    50% {background-color: rgb(140, 160, 224);color: rgb(68, 77, 109);}
    62.5% {background-color: rgb(148, 150, 236);color: rgb(68, 68, 107);}
    75% {background-color: rgb(213, 165, 231);color: rgb(103, 62, 117);}
    87.5% {background-color: rgb(230, 174, 220);color: rgb(136, 76, 125);}
    100%   {background-color: rgb(216, 115, 115);color: rgb(88, 48, 48);}
}

button, #side a {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.7);
}

button {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5px 120px 5px 20px;
    margin: 20px 20%;
    border: 0;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    transition: 500ms ease-in-out;
    cursor:pointer;
}

#side a {
    transition: 500ms ease-in-out;
    padding: 10px 20px;
    border-radius: 10px;
}

#side a:hover, button:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
    animation-name: changing-text-dark;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
}



header {
    position: sticky;
    grid-row: 2/3;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1, h2, h3, h4, header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 800;
}

h1, h2, h3, h4 {
    text-indent: 2em;
}

header p{
    text-indent: 0em;
}

header .tags {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
}

/*** footer ***/

footer {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 12px;
    color: #333;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/*************** Side After switch *****************/

#side.switch a, button.switch {
    background-color: #000000;
    color: #f1f1f1;
}

button.switch {
    background-color: #000000;
    color: #f1f1f1;
    padding: 5px 20px 5px 120px;
    transition: 500ms ease-in-out;
}

button.switch:hover {
    background-color: #f1f1f1;
    color: #333;
}

#side.switch {
    background-color: #333;
    animation-name: changing-text-light;
}

#side.switch a {
    background-color: #000000;
    color: #f1f1f1;
}

#side.switch a:hover, button.switch:hover {
    background-color: #9b9b9b;
    color: black !important;
}

@keyframes changing-text-light {
    0%   {color: rgb(216, 115, 115);}
    12.5%  {color: rgb(240, 240, 107);}
    25%  {color: rgb(144, 230, 118);}
    37.5% {color: rgb(140, 224, 185);}
    50% {color: rgb(140, 160, 224);}
    62.5% {color: rgb(148, 150, 236);}
    75% {color: rgb(213, 165, 231);}
    87.5% {color: rgb(230, 174, 220);}
    100%   {color: rgb(216, 115, 115);}
}

@keyframes changing-background-dark {
    0%   {background-color: rgb(88, 48, 48);color: rgb(216, 115, 115);}
    12.5%  {background-color: rgb(124, 111, 55);color: rgb(240, 240, 107);}
    25%  {background-color: rgb(55, 87, 45);color: rgb(144, 230, 118);}
    37.5% {background-color: rgb(76, 122, 101);color: rgb(140, 224, 185);}
    50% {background-color: rgb(68, 77, 109);color: rgb(140, 160, 224);}
    62.5% {background-color: rgb(68, 68, 107);color: rgb(148, 150, 236);}
    75% {background-color: rgb(103, 62, 117);color: rgb(213, 165, 231);}
    87.5% {background-color: rgb(136, 76, 125);color: rgb(230, 174, 220);}
    100%   {background-color: rgb(88, 48, 48);color: rgb(216, 115, 115);}
}


#side.switch header .tags {
    color: rgba(0, 0, 0);
}

/**************** Colunm Area is below ****************/

main {
    background-color: #fff;
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 0 auto;
    padding: 0 3em;
    grid-column: 2/4;
    overflow-x: scroll;
    height: 768px;
    transition: 500ms ease-in-out;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f1f1f1;
    border-radius: 15px;
    width: 30vw;
    margin: 10vh .25em ;
    padding: 2em 1em;
    
}

section nav {
    width: 90%;
    height: 90%;
    overflow: scroll;
}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #333;
    margin: .5em 1em;
    align-self: flex-start;
}

a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

ol,
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding: 10px 20px;
    margin: 5px 0;
    width: 100%;
    background-color: #333;
    border-radius: 15px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

section li:hover {
    width: 90%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

section li:hover a {
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

section li a {
    line-height: 1em;
    display: inline-block;
    padding: .4em .5em;
    text-align: center;
}

/* Colunm Area after switch */

main.switch {
    background-color: #000;
}

main.switch h5 {
    color:#f1f1f1;
}

section.switch {
    background-color: #222;
}



