* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    height: 100vh;
}

#input-section {
    background-color: lightslategray;
    padding: 60px 80px;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70%;
    gap: 2vh;
}

.inputbox-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fa-buromobelexperte {
    color: white;
    font-size: 4em;
    margin-bottom: 30px;
}

.inputbox {
    height: 35px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 3px solid rgb(176, 202, 228);
    text-indent: 10px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

.inputbox:hover {
    border-bottom: 3px solid white;
}

.inputbox:focus {
    outline: none;
    border-bottom: 5px solid white;
}

.inputbox-container label {
    font-size: 1em;
    font-weight: 300;
    color: rgb(199, 216, 238);
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

#go-to-signup-btn {
    text-decoration: none;
    color: rgb(199, 216, 238);
    font-size: 0.75em;
    text-align: center;
    margin-top: 30px;
}

#go-to-signup-btn:hover {
    color: rgb(20, 32, 43);
}

input[type=submit] {
    text-decoration: underline;
    background: none;
    border: hidden;
    outline: none;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: white;
}

input[type=submit]:hover {
    color: rgb(20, 32, 43);
}

#error-message.visible {
    color: black;
    background-color: yellow;
    padding: 5px 10px;
}

#error-message.hidden {
    background-color: rgba(255, 255, 0, 0);
}

