#container {
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto;
    position: relative;
    border: 5px solid #2c3845;
    position: relative;
}

#banner {
    display: flex;
    height: 200px;
    max-width: 1100px;
    min-width: 700px;
    margin: 40px auto;
    padding: 0px;
    border: 1px solid #2c3845;
    box-shadow: 0px 0px 10px #4b748e67;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    transition: all 1s;
}


#overlay {
    display: inline;
    height: 150px;
    width: 600px;
    margin: 50px auto;
    background-color: #2c3845;
    transition: all 2s;
}

#banner:hover {
    background-color: #2c3845;
}

#banner:hover #overlay {
    background-color: #e3ebf5;
}


article {
    position: relative;
    margin: 40px auto;
    max-width: 1100px;
    border: 1px solid #2c3845;
    box-shadow: 0px 0px 10px #4b748e67;
    
}

h1 {
    margin: 50px 100px 10px 100px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 1;
    
}

article date {
    margin: 0px 100px;
    font-family: 'Oxygen', sans-serif;
}

article .paragraphs {
    display: block;
    columns: 3 auto;
    margin: 50px 100px;
}

article p {
    position: relative;
    max-width: 1100px;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: dimgray;
    line-height: 1.5em;
    margin: 0 auto;
}

article a {
    text-decoration: none;
    color: rgb(58, 86, 124);
    font-weight: 700;
}

footer {
    width: 1100px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #2c3845;
    box-shadow: 0px 0px 10px #4b748e67;
    box-sizing: border-box;
}

footer a {
    width: 30%;
    text-align: center;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    padding: 15px 0px ;
    color: #4b748e;
    transition: all 500ms;
    transition-timing-function: ease-in-out;
    line-height: 1;
}

footer a:hover {
    display: block;
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    padding: 15px 0px ;
    width: 33%;
    color: white;
    background-color: #2c3845;
}